<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tables</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <ion-label>
      Filters
    </ion-label>
  </ion-item-divider>

  <ion-item>
    <ion-label>Seats:</ion-label>
    <ion-select placeholder="Select" [(ngModel)]="filterSeats" (ngModelChange)="filterTables()">
      <ion-select-option value="">All</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
      <ion-select-option value="4">4</ion-select-option>
      <ion-select-option value="6">6</ion-select-option>
      <ion-select-option value="8">8</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Time From:</ion-label>
    <ion-select placeholder="Select" [(ngModel)]="filterFrom" (ngModelChange)="filterTables()">
      <ion-select-option *ngFor="let time of timeSlots"
                         [disabled]="!!filterTo && (time >= filterTo)"
                         [value]="time">
        {{time}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Time To:</ion-label>
    <ion-select placeholder="Select" [(ngModel)]="filterTo" (ngModelChange)="filterTables()">
      <ion-select-option *ngFor="let time of timeSlots"
                         [disabled]="!!filterFrom && (time <= filterFrom)"
                         [value]="time">
        {{time}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-item-divider>
      <ion-label>
        Results
      </ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let table of filteredTables" (click)="reserveTable(table)">
      <ion-label>
        <h2>{{table.location}}</h2>
        <h3>Seats: {{table.seats}}</h3>
        <p>Available</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
